* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: black;
}

header{
    background-color: darkgray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container {
    /* background-color: darkgray; */
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 2rem;
    justify-content: center;
}

/* Control Panel Section */
.controls-panel {
    width: 200px;
    background-color: blue;
    height: 960px;
    text-align: center;
}

.pixel-slider-section {
    margin-top: 2rem;
}

.pixel-slider {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
}

.pixel-slider > label {
    margin-top: .5rem;
}

.pixel-slider #pixel-count {
    cursor: pointer;
}

.color-picker-section {
    margin-top: 2rem;
}

.color-picker-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.color-picker-box #color-picker {
    margin-top: .3rem;
    cursor: pointer;
}

.buttons {
    cursor: pointer;
    height: 3rem;
    width: 6rem;
    border-radius: 45%;
    font-size: 1rem;
    font-weight: bolder;
}


/* Sketch Panel CSS */
.sketch-panel {
    background-color: white;
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
}

.row, .column {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
}


